main {
  background-color: rgb(0, 160, 107);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 700px;
}

#generateBtn {
  padding: 5px;
  font-size: medium;
  border-radius: 15px;
  background-color: rgb(196, 237, 126);
  font-weight: 400;
  width: fit-content;
  margin-bottom: 20px;
}

body {
  display: flexbox;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: rgb(206, 232, 160);
}

.mainPage {
  width: 700px;
  padding: 10px;
  background-color: aliceblue;
}

.inputBox {
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

#cityInput {
  padding-bottom: 10px;
}

#generateBtnText {
  height: 30px;
  width: fit-content;
  color: brown;
  padding-bottom: 10px;
}

#diagram-container {
  display: flex;
  flex-direction: column;
}

.day {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 10px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  background-color: rgb(224, 224, 255);
}

.diagram-row {
  width: fit-content;
  display: flex;
  flex-direction: row;
}

svg {
  background-color: rgb(255, 255, 255);
}
