main {
  background-color: rgb(0, 160, 107);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 700px;
}

main button {
  padding: 15px;
  font-size: large;
  border-radius: 15px;
  background-color: rgb(196, 237, 126);
  font-weight: 600;
  width: fit-content;
}

body {
  display: flexbox;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(206, 232, 160);
}

.mainPage {
  width: 700px;
  padding: 10px;
  background-color: aliceblue;
}

.inputBox {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

#cityInput {
  padding-bottom: 10px;
}

#diagramInput {
  padding-bottom: 10px;
}

.btn {
  border-radius: 15px;
  background-color: rgb(196, 237, 126);
  font-weight: 600;
  width: fit-content;
  padding: 10px;
  margin-bottom: 20px;
}

svg {
  background-color: rgb(254, 248, 195);
}

.diagram {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-style: groove;
  border-color: rgb(70, 203, 50);
}